/* section img {
    min-width: 0%;
    min-height: min-content;
} */

form {
    margin: 0 auto;
    width: 250px;
}

/* h2,h5 {
    margin: 0 auto;
    width: 250px; 
} */
/* .imagess{
    width:25%;
} */
